.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 42px 109px 42px 111px;
    background-color: var(--color-light);
    border: 1px solid #000;
    
}

.header .hamburger {
    display: none;
}

@media  (max-width: 767px) {
    .header .hamburger {
        position: relative;
        z-index: 4;
        display: flex;
        width: 48px;
        height: 48px;
        flex-direction: column;
        gap: 10px;
        margin-right: 20px;
        cursor: pointer;
    }
}

@media  (max-width: 1240px) {
    .header {
        display: flex;
        width: 768px;
        padding: 35px 50px 35px 50px;
        border: none;
    }
}

@media  (max-width: 767px) {
    .header {
        display: flex;
        padding: 0;
        width: 100%;
        border: none;
        justify-content: space-between;
    }
}

.link-container {
    display: flex;
    align-items:center;
    gap: 46px;
}

@media  (max-width: 767px) {
    .link-container {
        display: none;
    }
}

.mobile-menu {
    display: none;
} 

@media  (max-width: 767px) {
    .mobile-menu {
        display: flex;
        align-items:center;
        justify-content: center;
        position: fixed;
        top: -100%;
        left: 0;
        z-index: 3;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-light);
        transition: all 2s ease-in-out;
    }
    .mobile-menu.active {
        top: 0;
    }
}

.logo_title {
    color: var(--color-black);
    font-family: var(--font-title);
    font-size: 16px;
    line-height: 2; 
}

@media  (max-width: 767px) {
    .logo {
        margin: 36px 213px 39px 25px;
    }
}


.logo img   {
    width: 20px;
    height: 20px;
}

.link   {
    font-family: var(--font-title);
    font-weight: 400;
    line-height: 50px; 
    color: var(--color-base-0);
    transition: all 0.2s ease-in-out;
}

.link:hover,
.link.active {
    font-weight: 700;
    color: var(--color-secondary)
}



.line {
    display: block;
    background-color: grey;
    width: 100%;
    height: 2px;
    transition: all 1s ease-in-out ;
}

.active-line-1 { 
    transform: translateX(-2px) translateY(17px) rotate(45deg);
    
}

.active-line-2 {
    transform: translateX(-100px);
    opacity: 0;
}

.active-line-3 {
    
    transform: translateX(-100px);
    opacity: 0;
}

.active-line-4 {
    transform: translateX(-2px) translateY(-19px) rotate(-45deg);
}